<div class="container transparent">
    <table class="table">
        <thead>
            <th>Restaurant Name</th>
            <th>City</th>
            <th>State</th>
            <th><i class="fa fa-plus-square-o plus" aria-hidden="true" (click)="GoToAddRestaurant()"></i></th>
        </thead>
        <tbody>
            <tr *ngFor="let restaurant of restaurants;">
                <td>{{restaurant.name}}</td>
                <td>{{restaurant.city}}</td>
                <td>{{restaurant.state}}</td>
            </tr>
        </tbody>
    </table>
</div>